<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <remove value="index.php" />
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="main.html" />
                <add value="join.html" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="500" path="/ErrorPage/500.html" responseMode="ExecuteURL" />
        </httpErrors>
        <directoryBrowse enabled="true" />
        <handlers>
            <remove name="cshtm-ISAPI-4.0_64bit" />
        </handlers>
    </system.webServer>
</configuration>
